<body>
<html>

<p>
  secretary works!
</p>
<p>Infirmiers : </p>
<ul>
  <li *ngFor="let inf of getinfirmiers()">
    <infirmier [data]="inf"> </infirmier>{{ inf|json }}
    <ul>
      <li *ngFor="let pat of inf.patients">
        <patient [data]="pat" >  </patient>{{ pat|json }}
      </li>
    </ul>
  </li>
</ul>

<h2>Formulaire </h2>
<form (ngSubmit)="Addpatient( prenom.value,nom.value,adresse.value,sexe.value,numeroSecuriteSociale.value)">
  <fieldset>
    <label >Nom <em>*</em></label>
    <input #nom placeholder="Nom" autofocus="" required=""><br>
    <label >Prenom <em>*</em> </label>
    <input #prenom placeholder="Prenom" autofocus="" required="" ><br>
  </fieldset>
  <fieldset>
    <label >Sexe <em>*</em> </label>
    <select #sexe>
      <option value="F" name="sexe">Femme</option>
      <option value="H" name="sexe">Homme</option>
    </select><br>
    <label>numéro Sécurité Sociale <em>*</em></label>
    <input #numeroSecuriteSociale placeholder="numéro Sécurité Sociale" autofocus="" required=""><br>
    <label >adresse <em>*</em></label>
    <input #adresse placeholder="adresse" autofocus="" required=""><br>
  </fieldset>
  <p><input type="submit" value="Submit"></p>
</form>

<!--
<agm-map [latitude]="getCabinetLat()" [longitude]="getCabinetLng()" (mapReady)="mapReady($event)">
  <agm-marker [latitude]  = "getCabinetLat()"
              [longitude] = "getCabinetLng()"
              iconUrl    = "/data/hospital-icon.png"
  >
  </agm-marker>

  <agm-marker *ngFor      = "let nurse of getNurses()"
              [latitude]  = "nurse.adresse.lat"
              [longitude] = "nurse.adresse.lng"
              iconUrl    = "https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/48x48/shadow/nurse.png"
  >
  </agm-marker>

  <agm-marker *ngFor      = "let patient of getPatients()"
              [latitude]  = "patient.adresse.lat"
              [longitude] = "patient.adresse.lng">
  </agm-marker>
</agm-map>-->
</html>
</body>

